[Unit]
Description=Run Cannich Weather Script Every 3 Hours

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
