[Unit]
Description=Update Weather Data
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/weather-forecast.sh
